body {
  overflow-x: hidden;
}

a:hover {
  color: #fff !important;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.badge {
  margin-top: -20px;
  margin-left: -30px;
  position: absolute;
}

#principal {
  height: 750px;
  overflow: hidden;
  background-image: url(../img/bg-masthead.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  color: #fff;
  text-align: center;
}

#principal h1 {
  font-family: 'bonkersregular';
}

#principal h1 .maior {
  font-size: 64px;
}

#principal h1 .hiper {
  font-size: 74px;
}

#principal h4 {
  font-family: 'exo_2regular';
  font-size: 24px;
}

#principal h4 .black {
  font-family: 'exo_2black';
  font-size: 24px;
}

#principal p {
  font-family: 'exo_2regular';
  font-size: 16.8px;
}

#principal p .black {
  font-family: 'exo_2black';
  font-size: 16.8px;
}

#masthead-header {
  width: 100vw;
  margin-top: 17px;
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
}

.fixar {
  position: fixed;
  margin-top: 0 !important;
}

#masthead-body {
  padding-top: 200px;
}

.logo {
  width: 234px;
  height: 287px;
  margin-top: -17px;
  background-image: url(../img/bg-logo.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
}

.logo img {
  display: block;
  margin: auto;
  padding-top: 24px;
}

.logo-secundaria {
  width: 231px;
  height: 71px;
  position: absolute;
  background-color: #fff;
}

.logo-secundaria img {
  display: block;
  margin: auto;
  padding-top: 14px;
}

.btn-inscreva {
  font-family: 'ralewaysemibold';
  font-size: 24px;
  width: 200px;
  height: 46px;
  margin-top: 50px;
  background-color: #e84545;
  color: #fff;
}

#menu-principal {
  font-family: 'ralewaybold';
  font-size: 13px;
  z-index: 1;
}

#menu-principal ul {
  list-style: none;
  height: auto;
  padding: 15px;
  margin: 0;
}

#menu-principal ul li {
  display: inline;
}

#menu-principal ul li a {
  padding: 2px 10px;
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
}

#menu-principal ul li a:hover {
  color: #e84545;
}

#sobre-evento {
  font-family: 'ralewayregular';
  font-size: 14px;
  padding-top: 130px;
  text-align: center;
}

#sobre-evento a {
  text-decoration: none;
  color: #000;
}

#sobre-evento a:hover {
  color: #e84545 !important;
}

#sobre-evento h6 {
  font-family: 'ralewaybold';
  font-size: 14px;
  padding-top: 25px;
}

.topicos p {
  padding-bottom: 50px;
}

#keynotes {
  font-family: 'ralewayregular';
  font-size: 14px;
  padding-top: 130px;
  text-align: left;
}

#keynotes img {
  display: block;
  margin: auto;
}

#keynotes h4 {
  font-size: 22px;
  padding-top: 30px;
}

#keynotes h6 {
  font-size: 13px;
  color: #e84545;
}

#patrocinadores {
  font-family: 'ralewayregular';
  font-size: 12px;
  padding-top: 120px;
  text-align: center;
}

#patrocinadores h3 {
  font-family: 'ralewaylight';
}

.btn-seja-patrocinador {
  font-family: 'ralewaysemibold';
  font-size: 22px;
  width: 300px;
  height: 46px;
  background-color: #e84545;
  color: #fff;
  margin-top: -7px;
  margin-left: 12px;
}

#patrocinadores-body{
  margin-top: 50px;
}

#patrocinadores-body h4{
  font-family: 'ralewaybold';
  margin-bottom: 20px;
}

#patrocinadores-body h5{
  font-family: 'exo_2regular';
  margin: 10px 0 10px 0;
}

#redes-sociais {
  background-color: #690923;
  color: #fff;
}

#redes-sociais img {
  max-width: 100%;
  min-height: 100%;
}

#redes-sociais h1 {
  font-family: 'timesitalic';
  font-size: 36px;
  padding: 85px 85px 20px 85px;
}

#redes-sociais h6 {
  font-family: 'ralewaybold';
  font-size: 14px;
  padding-left: 85px;
  padding-bottom: 85px;
}

#inscricao {
  padding-top: 130px;
  padding-bottom: 50px;
}

#footer {
  font-family: 'ralewayregular';
  font-size: 14px;
  color: #fff;
}

#footer h6 {
  font-family: 'ralewaybold';
  font-size: 14px;
}

#footer-body {
  background-color: #920c31;
  height: 250px;
  padding-top: 60px;
}

#footer-barra {
  background-color: #690923;
  height: 94px;
}

#footer-barra small {
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  #masthead-header {
    margin-top: 0px;
    position: fixed;
  }

  #masthead-body {
    padding-top: 90px;
  }

  #principal {
    height: 570px;
  }

  #principal h1 .maior {
    font-size: 48px;
  }

  #principal h1 .hiper {
    font-size: 48px;
  }

  #principal h4 {
    padding: 15px 0 15px 0;
    font-size: 17px;
  }

  #principal h4 .black {
    font-size: 17px;
  }

  #principal p {
    font-size: 17px;
  }

  #principal p .black {
    font-size: 17px;
  }

  .btn-inscreva {
    margin-top: 8px;
  }

  .navbar-light .navbar-toggler {
    background-color: #fff;
    border-color: #fff;
  }

  #keynotes {
    padding: 0 30px 0 30px;
    padding-top: 130px;
  }

  #menu-principal ul {
    background-color: #fff;
    width: 200px;
    padding: 10px;
  }

  #menu-principal ul li {
    width: 100%;
    text-align: left;
  }

  #menu-principal ul li a {
    color: #000;
  }

  #menu-principal ul li a:hover {
    color: #7f7f7f !important;
  }

  #logo {
    display: none;
  }

  .badge {
    margin-top: 0px;
    margin-left: 5px;
    position: absolute;
  }

  .logo-secundaria {
    width: 200px;
    height: 56px;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 2;
  }

  .logo-secundaria img {
    display: block;
    margin: auto;
    padding-top: 7px;
  }

  #footer-barra small {
    padding-top: 20px;
  }
}
